In [32]:
# Make sure proper docker container is installed for 
import pandas as pd
import os
from pyathena import connect
from pyathena.pandas_cursor import PandasCursor
ATHENA_RESULTS = os.environ["ATHENA_RESULTS"]
pf = os.environ['AWS_LP']
ATHENA_CURSOR = connect(s3_staging_dir='s3://jkt-athena-query-results',
                        region_name='us-east-1',
                        profile_name=pf,
                        cursor_class=PandasCursor).cursor()

In [26]:
conn = connect('s3://jkt-athena-query-results',
    region_name='us-east-1',
    profile_name = pf)

In [33]:
query = f'''
    select * from crop_data.usda_crop_data
'''
df = ATHENA_CURSOR.execute(query).as_pandas()

In [36]:
df.columns

Index(['country_name', 'util_practice_desc', 'region_desc', 'domaincat_desc',
       'country_code', 'watershed_desc', 'state_fips_code', 'short_desc',
       'congr_district_code', 'statisticcat_desc', 'state_alpha',
       'commodity_desc', 'week_ending', 'value', 'state_ansi', 'unit_desc',
       'source_desc', 'sector_desc', 'county_ansi', 'zip_5', 'begin_code',
       'state_name', 'year', 'domain_desc', 'freq_desc', 'asd_desc',
       'asd_code', 'location_desc', 'class_desc', 'county_code', 'county_name',
       'end_code', 'prodn_practice_desc', 'reference_period_desc', 'load_time',
       'group_desc', 'watershed_code', 'agg_level_desc', 'cv_per'],
      dtype='object')

In [38]:
df.head()

,country_name,util_practice_desc,region_desc,domaincat_desc,country_code,watershed_desc,state_fips_code,short_desc,congr_district_code,statisticcat_desc,...,county_code,county_name,end_code,prodn_practice_desc,reference_period_desc,load_time,group_desc,watershed_code,agg_level_desc,cv_per
0,UNITED STATES,ALL UTILIZATION PRACTICES,,OPERATORS: (1 OPERATORS),9000,,45,"COMMODITY TOTALS - SALES, MEASURED IN $",,SALES,...,,,00,ALL PRODUCTION PRACTICES,YEAR,2012-12-31 00:00:00,INCOME,00000000,STATE,3.1
1,UNITED STATES,ALL UTILIZATION PRACTICES,,OPERATORS: (2 OR MORE OPERATORS),9000,,45,"COMMODITY TOTALS - SALES, MEASURED IN $",,SALES,...,,,00,ALL PRODUCTION PRACTICES,YEAR,2012-12-31 00:00:00,INCOME,00000000,STATE,2.9
2,UNITED STATES,ALL UTILIZATION PRACTICES,,OPERATORS: (ETHNICITY = HISPANIC),9000,,45,"COMMODITY TOTALS - SALES, MEASURED IN $",,SALES,...,003,AIKEN,00,ALL PRODUCTION PRACTICES,YEAR,2012-12-31 00:00:00,INCOME,00000000,COUNTY,18.7
3,UNITED STATES,ALL UTILIZATION PRACTICES,,OPERATORS: (ETHNICITY = HISPANIC),9000,,45,"COMMODITY TOTALS - SALES, MEASURED IN $",,SALES,...,,,00,ALL PRODUCTION PRACTICES,YEAR,2012-12-31 00:00:00,INCOME,00000000,STATE,14.6
4,UNITED STATES,ALL UTILIZATION PRACTICES,,OPERATORS: (ETHNICITY = HISPANIC),9000,,45,"COMMODITY TOTALS - SALES, MEASURED IN $",,SALES,...,,,00,ALL PRODUCTION PRACTICES,YEAR,2012-01-01 00:00:00,INCOME,00000000,STATE,