In [356]:
import pandas as pd
import numpy as np
import os
from sqlalchemy import create_engine
engine = create_engine(os.environ['PROD_DB'])

#### Draft of Columns Going into New Format

DONE - sample_id = name_int from s_acq_environmental_samples
DONE sample_agreement_id = from either s_acq_sample_agreements, s_acq_agreements, s_acq_collaborators
DONE collector_type = NEW
DONE - received_date = received_on from s_acq_environmental_samples
DONE project_id = NEW
DONE - date_collected = collected_on from s_acq_environmental_samples
- aphis_controlled = NEW
- freedom_to_operate = NEW
- agb_env_level_1 = NEW
- agb_env_level_2 = NEW
- agb_env_level_3 = NEW
DONE - agb_env_description = description from s_acq_environmental_samples
DONE - latitude = latitude from s_acq_environmental_samples
DONE - longitude = longitude s_acq_environmental_samples
DONE - origin_country = name from s_acq_countries
DONE - date_destroyed = destroyed_on from s_acq_environmental_samples
DONE - time_collected = collected_at from s_acq_environmental_samples
DONE - crop_genotype = name from s_acq_genotypes
DONE - amount_received = amount_received from s_acq_environmental_samples
DONE - weight_type = weight_type from s_acq_environmental_samples
DONE - field_id = name from s_acq_field_identifiers
DONE - name from s_acq_organisms
DONE - name from s_acq_types

### Terra Query to Clean Up Data

In [ ]:
new_terra= pd.read_sql(
    """
    SELECT s.name_int AS sample_id,
            a.title AS agreement_doc,
            a.id AS agreement_id,
            collab.name AS collaborator_name,
            s.received_on AS received_date,
            s.collected_on AS date_collected,
            s.description AS agb_env_description,
            s.latitude,
            s.longitude,
            c.name AS country,
            s.destroyed_on AS date_destroyed,
            s.collected_at AS time_collected,
            geno.name AS crop_genotype,
            s.weight_type AS weight_type,
            w.amount AS amount_received,
            f.name AS field_id,
            scqgroup.name AS organism_group_id,
            org.name AS organism,
            styp.name AS sample_type
               
    FROM s_acq_environmental_samples s
    LEFT JOIN s_acq_countries c 
        ON c.id = s.origin_country_id
    LEFT JOIN s_acq_genotypes geno
        ON geno.id = s.genotype_id
    LEFT JOIN s_acq_environmental_sample_aliquots w
        ON w.environmental_sample_id = s.id
    LEFT JOIN s_acq_field_identifiers f
        ON f.id = s.field_identifier_id
    LEFT JOIN s_acq_collaborators collab
        ON collab.id = s.collaborator_id
    LEFT JOIN s_acq_agreements a
        ON a.collaborator_id = s.collaborator_id
    LEFT JOIN s_acq_sample_organisms org
        ON org.id = s.sample_organism_id
    LEFT JOIN s_acq_organism_groups scqgroup
        On scqgroup.id= org.organism_group_id
    LEFT JOIN s_acq_sample_types styp
        ON styp.id = s.sample_type_id
    """, con=engine
)

In [367]:
new_terra.head()

,sample_id,agreement_doc,agreement_id,collaborator_name,received_date,date_collected,agb_env_description,latitude,longitude,country,date_destroyed,time_collected,crop_genotype,weight_type,amount_received,field_id,organism_group_id,organism,sample_type
0,5478,Sampling Agreement Amy Shekita (open),18.0,Amy Shekita,2016-11-11,2016-11-11,Bought from grocery store,35.813805,-78.790506,United States,2016-11-14,None,None,gross,NaN,None,Other Plant,Raspberry,Fruit
1,5480,Sampling Agreement Amy Shekita (open),18.0,Amy Shekita,2016-11-11,2016-11-11,Bought from grocery store. Turmeric Roots,35.813805,-78.790506,United States,2016-11-14,None,None,gross,NaN,None,Other Plant,Turmeric,Root
2,5482,Sampling Agreement Glen Petty (10/1/2016),149.0,Glen Petty,2016-10-04,2016-10-01,Rose,31.164096,-91.541855,United States,2016-11-21,None,None,gross,5.0,None,Other Plant,Rose,Plant
3,5483,Sampling Agreement Glen Petty (10/1/2016),149.0,Glen Petty,2016-10-04,2016-10-01,Rose bush leaves,31.164096,-91.541855,United States,2016-11-21,None,None,gross,5.0,None,Other Plant,Rose,Leaf
4,8622,Alice Cross 05.18.19,217.0,Alice Cross,2019-05-19,2019-05-16,"Oak Tree, 4in depth, High 88F and Low 66F. No ...",28.045173,-81.926692,United States,2019-08-29,None,None,gross,250.0,None,Other Plant,Oak,Soil

In [368]:
new_terra.sample_id.nunique()

7476

### Adding Collaborator Type

In [182]:
col_type = new_terra.collaborator_name.sort_values(ascending=True).unique().tolist()

In [196]:
len(col_type)

138

In [255]:
collabs_dict = {
    'university': [
        'Louisiana State University (LSU)',
        'North Carolina State University',
        'North Dakota State University',
        'University of Florida'
    ],
    'company': [
        'AgBiome ', 
        'AgBiome Lab Colony',
        'AgBiome Lab Plants',
        "Beck's Hybrids",
        'Burch Farms',
        'DM Crop Research',
        'SePRO',
        'Sharp Farms',
        'Still Hill Cottage LLC',
        'Stine Seed',
        'Syngenta',
        'Wonderful'
    ],
    'government_institute': [
        'ARS Patent Culture Collection',
        'American Type Culture Collection',
        'Bacillus Genetic Stock Center (BGSC)',
        'Hoosier National Forest',
        'International Institute of Tropical Agriculture',
        'NARO/NaCRRI',
        'Netherlands Institute of Ecology, et al. ',
        'United States National Park Service'
    ],
    'individual_s': [
        'Adam Holland', 'Alexander Bulazel', 'Alexander Schlesinger', 'Alice Cross',
        'Amber Smith', 'Amy Nemivant', 'Amy Shekita', 'Andrew Graham', 'Anika Wike',
        'Anita Carden', 'Anne-Marie Kremer', 'Anthony and Carla Crawley', 'Barbara Wagner',
        'Billie Espejo', 'Brenda Sue McGee', 'Brent Edwards', 'Brooke Bissinger', 'Bruce Randall',
        'Bruce Tremper', 'Cecilia Redding', 'Charles Zoccoli', 'Charlie and Karen Kremer',
        'Cindy Arbogast-Royer', 'Connie Dunbar', 'Courtney Bogard', 'Dan Tierney ',
        'Dan Tomso', 'David and Regina Fallace', 'Debbie McGuire', 'Debra Sannes','Doug Ward',
        'Edith Jumamil', 'Edward Koraly', 'Emily Giguere', 'Eric Ward', 'Gary Phillips',
        'Gean Sanders', 'Glen Petty', 'Greg and Sandi Shekita', 'James Cardell McCoy',
        'James Henriksen', 'James Pearce', 'Jan Jones', 'Janalee Bowen', 'Jeff Bandy',
        'Jeff and Deane Bonin', 'Jessica Fusillo', 'Jim Henriksen', 'Joe Farrell',
        'Joel Henschel', 'John Holland', 'John Polson', 'John Rabby', 'Jon Gammell',
        'Jon Holt', 'Karl Abraham', 'Kathleen M. Richards', 'Kathy Kirker', 'Kelly Smith',
        'Kira Roberts', 'Kyle Beery', 'Larry Daquioag', 'Larry Fontenot', 'Larry Gilbertson',
        'Lois Vermilya', 'Louis Hammer', 'Marilyn Monzula', 'Mark Roberts', 'Martin Smith',
        'Mary C. Spruill', 'Mary Weisenhaus', 'Mary and Charles Kroner', 'Matt Freeman',
        'Mau Trinh', 'Michelle Tierney', 'Nan Hall', 'Nick Duck', 'Niel Biggs', 'Nora Arant',
        'Paige and Jamie Whalen', 'Patricia Richards', 'Paul Brown', 'Peter Van Hoof',
        'Rachel Mark', 'Robert Erber', 'Robert Warnock', 'Ryan Gerber', 'Samuel Kebebe',
        'Scott Uknes', 'Searl LaChausse', 'Sharon Wagner', 'Stacie Pirozzi', 'Steve Ronyak',
        'Steve and Beverly Ronyak', 'Susan Seligson', 'Susan Trimble', 'Susan and David Chapman',
        'Suzanne Holland', 'Takashi Yamamoto (Sandoz)', 'Tanya Snyder', 'Terry Thomas',
        'Therese Farrell', 'Thomas Dietz', 'Thomas Shekita', 'Todd Burrus', 'Vadim Beilinson',
        'Vinh Pham', 'W. Murray Spruill', 'Wayne Merkelson', 'Wendy Jones', 'William McDaniel'
    ],
    'cant_cat': [
        'International Waters', 
        'NC Farmers Market', 
        'NC State Fair'
    ]
}

### Adding project_id

In [280]:
ex_in_partnerdict = {
    'ext': [
        'bmgf-spw-biological', 
        'bmgf-nematode-biological', 
        'striga-biological', 
        'elanco-biological', 
        'genective-traits'],
    'int': ['scn-trait', 'all']
}

In [256]:
[len(collabs_dict[key]) for key in collabs_dict.keys()]

[4, 12, 8, 111, 3]

In [369]:
def collab_type(row):
    for key in collabs_dict.keys():
        for value in collabs_dict[key]:
            if value == row:
                return(key)
def partner(row):
    
    spwlist = [
        'Louisiana State University (LSU)',
        'Burch Farms'
        'Larry Fontenot'
        'Sharp Farms'
    ]
    if row['country'] == 'Tanzania':
        return('ext-bmgf-nematode-biological')
    elif row['country'] == 'Uganda' or row['collaborator_name'] in spwlist:
        return('ext-bmgf-spw-biological')
    elif row['collaborator_name'] == 'Netherlands Institute of Ecology, et al. ':
        return('ext-striga-biological')
    elif row['organism'] == 'Swine':
        return('ext-elanco-biological')
    else:
        return('int-all')

In [370]:
dff = new_terra.assign(collector_type = lambda df: df['collaborator_name'].map(collab_type))

In [371]:
dff['project_id'] = dff.apply(partner, axis=1)

### EMP ontology

In [373]:
orgs = dff[['organism', 'organism_group_id', 'sample_type', 'agb_env_description']]

In [386]:
for col in orgs.columns[0:3]:
    print(orgs[col].unique())

['Raspberry' 'Turmeric' 'Rose' 'Oak' 'Banana' 'Carrot' 'Sorghum' 'Potato'
 'Cactus' 'Sagebrush' 'Almond' 'Cucumber' 'Grass' 'Herb' 'Maple'
 'Other Fruit' 'Other Plant' 'Other Tree' 'Other Vegetable' 'Pistachio'
 'Squash' 'Tomato' 'Weed' 'Other Insect' 'Corn Root Worm' 'Cicada'
 'Dragonfly' 'Earthworm' 'Centipede' 'Grasshopper' 'Caterpillar'
 'Japanese Beetle' 'Katydid' 'Lepidopteran' 'Spider' 'Millipede' 'Moth'
 'Beetle' 'Aphid' 'Wasp' 'Nematode' 'Worm' 'Stinkbug' 'Corn' 'Wheat' 'Oats'
 'Rice' 'Cotton' 'Other' 'Fish' 'Yam' 'Pineapple' 'Swine' 'N/A' 'Mushroom'
 'Frog' 'Toad' 'Soybean' 'Sweet Potato' None]
['Other Plant' 'Insect' 'Corn' 'Other Row Crop' 'Other' 'Soybean'
 'Sweet Potato' None]
['Fruit' 'Root' 'Plant' 'Leaf' 'Soil' 'Seed' 'Other' 'Core' 'Seed Head'
 'Insect' 'Excrement' 'Tassels' 'Silks' 'Grainbin Dust' 'Cotton Ball'
 'Licensed or Purchased' 'Tuber' 'Animal' 'Fungi' 'Amphibian' 'Crustacean']

In [ ]:
host_associated
free_living

In [ ]:
# what should we do about soil classified under root?

In [388]:
def agb_env_level_1(row):
    
    if row == "Soil":
        return('free_living')
    else:
        return 'test'

In [390]:
orgs = orgs.assign(test = lambda x: x['sample_type'].map(agb_env_level_1))

In [391]:
orgs

,organism,organism_group_id,sample_type,agb_env_description,test
0,Raspberry,Other Plant,Fruit,Bought from grocery store,test
1,Turmeric,Other Plant,Root,Bought from grocery store. Turmeric Roots,test
2,Rose,Other Plant,Plant,Rose,test
3,Rose,Other Plant,Leaf,Rose bush leaves,test
4,Oak,Other Plant,Soil,"Oak Tree, 4in depth, High 88F and Low 66F. No ...",free_living
5,Oak,Other Plant,Seed,Live Oak acorns,test
6,Oak,Other Plant,Plant,Oak tree w/ roots,test
7,Oak,Other Plant,Leaf,Live Oak leaves,test
8,Banana,Other Plant,Root,Region: Kilimanjaro,test
9,Banana,Other Plant,Root,"Region: Kilimanjaro, apparently a banana root",test
10,Banana,Other Plant,Root,"Region: Pwani, District Mkuranga",test
11,Banana,Other Plant,Fruit,,test
12,Banana,Other Plant,Fruit,,test
13,Carrot,Other Plant,Root,,test
14,Carrot,Other Plant,Root,,test
15,Carrot,Other Plant,Root,,test
16,Carrot,Other Plant,Root,,test
17,Sorghum,Other Plant,Root,Sampled after sweet potato harvest,test
18,Sorghum,Other Plant,Root,Sampled after sweet potato harvest,test
19,Sorghum,Other Plant,Root,Sampled after sweet potato harvest,test
20,Sorghum,Other Plant,Root,Sampled after sweet potato harvest,test
21,Sorghum,Other Plant,Root,Sampled after sweet potato harvest,test
22,Potato,Other Plant,Root,,test
23,Potato,Other Plant,Root,,test
24,Cactus,Other Plant,Plant,Cactus,test
25,Sagebrush,Other Plant,Plant,Sage brush,test
26,Almond,Other Plant,Seed,"Site: Wonderful Farms, CA; Almond husk",test
27,Almond,Other Plant,Seed,"Site: Wonderful Farms, CA Husk comes off easy",test
28,Almond,Other Plant,Seed,"Site: Wonderful Farms, CA Almond husk",test
29,Almond,Other Plant,Seed,"Site: Wonderful Farms, CA",test
...,...,...,...,...,...
35064,None,None,Core,"back woods hill Area: debris, large vines, fic...",test
35065,None,None,Core,"back woods hill Area: debris, large vines, fic...",test
35066,None,None,Core,back woods flat small palm growing from decomp...,test
35067,None,None,Core,"Front Embankment Hill plants: cookpine, ground...",test
35068,None,None,Core,"Front of Property, Flat, Plants in Area: Hibis...",test
35069,None,None,Core,,test
35070,None,None,Core,,test
35071,None,None,Core,,test
35072,None,None,Core,,test
35073,None,None,Core,,test
35074,None,None,Fungi,18961 Unidentified Shelf Mushroom,test
35075,None,None,Fungi,18959 Unidentified Shelf Mushroom,test
35076,None,None,Fungi,18957 Unidentified Bird’s nest fungi,test
35077,None,None,Fungi,"18955 UnidentifiedRed fungus groing on bark, n...",test
35078,None,None,Fungi,18953 Unidentified Small Orange mushroom with ...,test
35079,None,None,Fungi,18951 Unidentified White mushroom with vertica...,test
35080,None,None,Fungi,18949 Unidentified small cream/yellow mushroom...,test
35081,None,None,Fungi,"18945 Unidentified white mushroom, vertical la...",test
35082,None,None,Fungi,"18941 Unidentified orange gelatenous sample, p...",test
35083,None,None,Fungi,"18939 Unidentified orange gelatenous sample, p...",test
35084,None,None,Fungi,18937 Decaying bark with mustard colored spore...,test
35085,None,None,Fungi,18909 Wood decomposing with white hyphal fungu...,test
35086,None,None,Fungi,18907 Stipe of black ducks sample 593 ink mush...,test
35087,None,None,Amphibian,18917 Northern Red back salamander Plethodon c...,test
35088,None,None,Amphibian,"18915 Eft Eastern Newt, Juvenile",test
35089,None,None,Amphibian,"18913 Eft Eastern Newt, Juvenile",test
35090,None,None,Crustacean,Blue Crab,test
35091,None,None,Crustacean,Blue Crab,test
35092,None,None,Crustacean,Blue Crab,test
35093,None,None,Crustacean,Blue Crab,test